@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    position: relative;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif!important;
}

#nav .navbar {
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.25);
}

#nav img.logo {
    display: block;
    width: 100%;
    max-width: 150px;
    height: auto;
}

#nav .nav-link {
    color: #444444;
    font-weight: 600;
    font-size: 14px;
}

#header {
    margin-top: 70px;
}

#header img.img-head-splide {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
}

#header .centered {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, 0.7);
    text-align: center;
    padding: 20px 50px;
    border-radius: 12px;
    width: 350px;
}

#header h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

#header h3 {
    color: #fff;
    font-size: 16px;
}

#header p {
    color: #fff;
}

@media screen and (max-width:1023px) {
    #header img.img-head-splide {
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        height: auto;
        min-width: 0;
        min-height: 0
    }
    #header .centered {
        position: relative;
        bottom: -45px;
        left: 50%;
        border-radius: 0;
        width: 100%;
    }
    #header h2 {
        color: #fff;
        font-size: 16px;
    }
    #header h3 {
        color: #fff;
        font-size: 14px;
    }
    #header p {
        color: #fff;
        font-size: 14px;
    }
}

#talent {
    padding: 70px 0;
    background: url(../images/talent/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#talent h2 {
    color: #fff;
    text-align: center;
}

#talent p {
    text-align: center;
    color: #fff;
}

#talent .nav-pills .nav-link {
    background: #F7F7F7;
    color: #000;
    border-radius: 12px;
    margin: 5px 10px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

#talent .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #000;
    background-color: #FF9C6D;
    border-radius: 12px;
}

#talent .bg {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 15px auto;
}

#talent img {
    display: block;
    width: 100%;
    max-width: 250px;
    height: 250px;
    margin: 15px auto;
    object-fit: cover;
    border-radius: 5px;
}

#talent h3 {
    color: #fff;
    font-size: 18px;
}

#talent span {
    color: #fff;
}

#talent .tag {
    color: #000;
    border-radius: 8px;
    background: #FF9C6D;
    padding: 5px;
    width: 100%;
    max-width: 150px;
    margin: 20px 0;
    text-align: center;
}

#talent .more {
    text-align: center;
    border-radius: 8px;
    background: #F7F7F7;
    color: #000;
    padding: 8px 10px;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
}

#talent .loadcontent-1,
.loadcontent-2,
.loadcontent-3,
.loadcontent-4,
.loadcontent-5 {
    display: none;
}

#talent #loadmore-1,
#loadmore-2,
#loadmore-3,
#loadmore-4,
#loadmore-5 {
    transition: .3s;
}

#talent #loadmore-1:hover,
#loadmore-2:hover,
#loadmore-3:hover,
#loadmore-4:hover,
#loadmore-5:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
}

#talent .nocontent {
    color: #fff!important;
    background-color: transparent !important;
    pointer-events: none;
}

#class {
    padding: 70px 0;
    background: #F2F2F2;
}

#class .bg {
    border-radius: 4px;
    background: linear-gradient(152deg, #F2F0FE -0.53%, rgba(242, 240, 254, 0.00) 101.9%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
}

#class img {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: auto;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

#class h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
}

#class .nav-pills .nav-link {
    background: #FFFFFF;
    color: #000;
    border-radius: 12px;
    margin: 5px 10px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

#class .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #000;
    background-color: #ACD6FF;
    border-radius: 12px;
}

#join {
    padding: 70px 0;
    background: linear-gradient(90deg, rgba(255, 238, 238, 1) 0%, rgba(255, 209, 209, 0) 100%);
}

#join h2 {
    text-align: center;
    font-weight: 600;
}

#join p {
    text-align: center;
}

#join .enrol {
    background-color: #444444;
    color: #f4f4f4;
    padding: 10px 25px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-size: 14px;
}

#join .online {
    background-color: #FF924C;
    color: #000;
    padding: 10px 25px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-size: 14px;
}

#about {
    background: linear-gradient(135deg, hsla(320, 60%, 94%, 1) 0%, hsla(25, 85%, 92%, 1) 14%, hsla(135, 46%, 85%, 1) 41%, hsla(192, 54%, 70%, 1) 62%, hsla(324, 47%, 71%, 1) 77%, hsla(204, 95%, 77%, 1) 87%);
    padding: 70px 0;
}

#about img {
    display: block;
    width: 100%;
    max-width: 50px;
    height: 50px;
    margin: 0 10px;
    object-fit: contain;
}

#about h2 {
    font-weight: 600;
}

#about .bg {
    background-color: #FFFFFF;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    height: 275px;
}

@media screen and (max-width:1024px) {
    #about .bg {
        height: auto;
    }
}

#partner {
    background: #F3F3F3;
    padding: 70px 0;
}

#partner h2 {
    text-align: center;
    font-weight: 600;
}

#partner img {
    display: block;
    width: auto;
    max-height: 80px;
    margin: 20px;
    mix-blend-mode: darken;
}

#contact {
    padding: 70px 0;
    background-color: #222;
}

#contact img {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    height: auto;
}

.col-lg-13 {
    flex: 0 0 auto;
    width: 19.66666667%;
    color: #fff;
}

#contact a {
    line-height: 2.5;
    color: #fff;
}

#contact h2 {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 600;
}

#copyright {
    text-align: center;
    background: #E1A778;
    color: #000;
    padding: 20px 0;
    font-size: 12px;
}